/*--------------------------------------|
| Site: http://www.smashingmagazine.com |
| Author: John O'Nolan                  |
| Author URI: http://john.onolan.org    |
| Type: Screen                          |
| Date: June 2009                       |
|--------------------------------------*/

/*--- CSS Reset ---*/
/*html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
}*/
:focus {
   outline: 0;
}
body {
   line-height: 22px;
}



/* Hides from IE-max \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*--- Common ---*/

body {
	font-family:Arial, Verdana, sans-serif;
	color:#fff;
	background:#474747;
}

h1 {font-size:50px;}


h3 {
	font-family:Times, Georgia, Serif;

}

h4 {float:left;margin:0 0 20px 0;font-size:20px;}

p {font-size:16px;line-height:24px;margin-bottom:24px;float:left;}

em {font-style:italic;border-bottom:1px dashed;}
strong {font-weight:bold;color:#ff9000;text-transform:uppercase;}

a {color:#fff;border-bottom:1px solid;}
a:hover {color:#ff9000;}

.o {color:#ff9000}
