
#list {
	width:600px;
}

ol, h1 { 
	font-family:Georgia, Times, serif; 
	font-size:16px; 
	color:#424242;
}

li {
	padding:3px; 
	color:#0082ad; 
}

ul {
	font-size:12px;
	border-left: 1px solid #999;
}